

<h2> Access Token </h2>

<p> Authorized sucessfully </p>
	
<p> Your acess token is <%-token%> </p>


<h4> Call api using access token
<p> </p>
<form method="post" action='/callback'>
	api: <input type="text" name='api'> 
	method: <input type="text" name='method'>
	 body: <input type="text" name='request_body'> 
	<input type="submit" value="submit"> 
</form>

