<!doctype html>
<html>
<head>
<title>Oauth demo</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
<style>
body    { padding-top:70px; }
</style>
</head>
<body>
<div class="container">

  <div class="jumbotron text-center">
    <h2> Clara Oauth2 demo</h2>
    <hr>
    <h4>This is a simple client app using oauth to acess clara REST API  </h4>
    <a href="/login?state=<%= state %>" class="btn btn-primary">Login with Clara.io</a>
    <p>Our random state is: <code><%= state %></code></p>
  </div>
</div>
</body>
</html>
