
<h2> Login Clara Account </h2> 

<form method="post" action='/password_mode'>
	username: <input type="text" name='username'> 
	password: <input type="text" name='password'>
	<input type="submit" value="login"> 
</form>